@import '@/scss/_colors.scss';
@import '@/scss/_font.scss';

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &-header-container {
    margin: 106px 43px;
    @media screen and (max-width: 980px) {
      margin: 106px 20px;
    }
    @media screen and (max-width: 540px) {
      margin: 70px 10px 10px 10px;
    }
    display: flex;
    flex-direction: column;
  }
  &-header {
    font-size: 60px;
    @media screen and (max-width: 1250px) {
      font-size: 40px;
    }
    @media screen and (max-width: 700px) {
      font-size: 30px;
    }
    @media screen and (max-width: 540px) {
      font-size: 25px;
    }
    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
    font-weight: 800;
    line-height: 90%;
    font-style: normal;
    color: $font-white;
    align-self: flex-end;

    &.last {
      margin-right: 184px;
      @media screen and (max-width: 980px) {
        margin-right: 5%;
      }
    }
    b {
      color: $primary-color;
    }
  }

  &-input-line {
    display: flex;
    @media screen and (max-width: 540px) {
      flex-direction: column;
      .input {
        width: 95% !important;
        margin: 10px auto;
      }
    }
    div {
      margin: 10px 5px;
    }
  }
  
  &-input-container {
    align-self: flex-end;
    margin-right: 10px;

    width: 935px;
    @media screen and (max-width: 980px) {
      margin: auto;
      width: 95%;
    }
  }
}