.slider-item {
  height: 183px;  
  bottom: 0;
  
  @media screen and (max-width: calc(800px + 40px)) { 
    height:150px;
  }
  @media screen and (max-width: calc(600px + 40px)) { 
    height: 115px;
  }

  &-container {
    transition: bottom 0.2s;
    position: relative;
    &:hover:not(.slider-item-container-active) {
      bottom: 20px;
    }
    bottom: 0;
  }

  &-index {
    font-weight: 800;
    margin-bottom: 15px;
  }
  

  &-active {
    height: 587px;
    margin-top: 0px;

    @media screen and (max-width: calc(1700px + 40px)) { //40px - ширина маржинов вокруг основного контейнера
      height: 450px;
    }
    @media screen and (max-width: calc(1500px + 40px)) { 
      height: 400px;
    }
    @media screen and (max-width: calc(1000px + 40px)) { 
      height:183px;
    }
    @media screen and (max-width: calc(800px + 40px)) { 
      height:150px;
    }
    @media screen and (max-width: calc(600px + 40px)) { 
      height: 115px;
    }
    
    //transition: margin 0.5s;
  } 

  

  img {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-favicons {
    &-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      gap: 10px;
      right: calc(-50px - 10px);
      @media screen and (max-width: calc(1700px + 40px)) { //40px - ширина маржинов вокруг основного контейнера
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        right: -120px;
      }
    }
    &-item {
      width: 50px;
      height: 50px;
      cursor: pointer;
      opacity: 0.5;
      &-active {
        opacity: 1;
      }
    }
    &-img {
      width: 80px;
    }
  }

  &-main-image {
    cursor: pointer;
  }
}