@import '@/scss/_colors.scss';
@import '@/scss/_font.scss';

.button-component {
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  padding: 35px 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &:disabled, &:disabled &:hover {
    background-color: $input-background;
    color: $input-background;
  }

  font-size: 40px;
  @media screen and (max-width: 540px) {
    font-size: 28px;
    padding: 15px;
  }
  font-style: normal;
  font-weight: 800;
  line-height: 90%;
  text-transform: uppercase;
}
