@import '@/scss/_colors.scss';

.gallery {
  &-container {
    padding-top: 15vh;
    position: relative;
  }
  &-title {
    color:$primary-color;
    position: absolute;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
  }
}

#geography-title {
  position: absolute;
  right: 40%;
  font-size: 80px;
  line-height: 64px;
  color: $primary-color;
  margin-top: 21px;
}