@import '@/scss/_colors.scss';

.gallery {
  &-container {
    padding-top: 15vh;
    position: relative;

    @media screen and (max-width: 1000px) {
      //40px - ширина маржинов вокруг основного контейнера
      //height:183px;
      padding-top: 10vh;
    }

  }

  &-title {
    text-transform: uppercase;
    color: $primary-color;
    position: absolute;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
    z-index: 100;
  }

  &-show-more {
    position: absolute;
    right:15px;
    cursor: pointer;

    &-rectangle {
      background-color: $primary-color;
      height: 10px;
    }

    @media screen and (min-width: 1921px) {
      right: 5px;
    }

    @media screen and (max-width: 760px) {
      font-size: 12px;
    }
    //margin-top: 10px;
  }
}

#geography-title {
  position: absolute;
  //right: 40%;
  font-size: 80px;
  line-height: 64px;
  color: $primary-color;
  letter-spacing: 0.1em;
  bottom: -20px;
  left: 48%;
  @media screen and (max-width: 1500px) {
    left: 54%;
    bottom: -30px;
  }
  @media screen and (max-width: 1000px) {
    left: 48%;
    bottom: -50px;
  }
  @media screen and (max-width: 760px) {
    font-size: 40px;
    font-weight: 400;
    line-height: 28px;
  }
}