@import '@/scss/_colors.scss';

.gallery {
  &-container {
    padding-top: 175px;//20vh;
    position: relative;
  }
  &-names {
    &-anim {
      top: 788px;
    }
    &-container {
      top: 768px;
      position: absolute;
      font-weight: 800;
      transition: top 0.3s ;
    }
    
    &-location {
      margin-bottom: 3px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-authors {
      &-container {
        
      }
      &-item {
        display: flex;
        gap: 50px;
      }
    }
  }
}

#geography-title {
  position: absolute;
  right: 40%;
  font-size: 80px;
  line-height: 64px;
  color: $primary-color;
  margin-top: 21px;
}