@import '@/scss/_colors.scss';

.main {
  &-container {
    height: 100vh;
  }

  &-text {
    font-family: Heathergreen;
    font-size: 190px;
    font-weight: 400;
    line-height: 150px;
    text-align: left;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    width: 48.5%;
    margin-left: auto;
    padding: 33px;
  }

  &-stars {
    &-container {
      display: flex;
      gap: 20px;
      align-self: center;
    }
  }
}